<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de Categoria</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="primary-font">
  <form padding [formGroup]="cadastroCategoriaForm" (submit)="gravar()" novalidate>
    <h6 *ngIf="errorDescricao" class="error"> {{messageDescricao}}</h6>
    <ion-item>
      <ion-input [(ngModel)]="descricao" 
        formControlName="descricao" type="text" 
        placeholder="Descricao da Categoria" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <h6 *ngIf="errorPassword" class="error"> {{messageDescricao}}</h6>
    <button ion-button block outline color="secondary" class="login-button">Gravar</button>
  </form>
  <hr>
  <button ion-button navPop block>Voltar</button>
</ion-content>